{{ header }}
<div class="container">
	<ul class="breadcrumb">
		{% set b_i = 1 %}
		{% for breadcrumb in breadcrumbs %}
		<li>
			{% if (b_i < (breadcrumbs|length)) %}
				<a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a>
			{% else %}
				<span>{{ breadcrumb['text'] }}</span>
			{% endif %}
		</li>
		{% set b_i = b_i + 1 %}
		{% endfor %}
	</ul>
	<div class="row">
		{{ column_left }}
		{% if (column_left and column_right) %}
			{% set class = 'col-sm-6' %}
		{% elseif (column_left or column_right) %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }} {{ _code }}-content">
			{{ content_top }}
			<h1>{{ heading_title }}</h1>
			{% if ((thumb and show_main_image) or (images and show_additional_image)) %}
				<div class="images-block">
					{% if (thumb and show_main_image) %}
						<div class="image-main"><a class="{{ _code }}-post-thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></a></div>
					{% endif %}
					{% if (images and show_additional_image) %}
						<div class="image-additionals">
							<div class="inner">
								{% for image in images %}
									<div><a class="{{ _code }}-post-thumbnail" href="{{ image['popup'] }}" title="{{ heading_title }}"> <img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></a></div>
								{% endfor %}
								{% if (images_other) %}
									{% for image in images_other %}
										<div class="more-image-additionals"><a class="{{ _code }}-post-thumbnail" href="{{ image['popup'] }}" title="{{ heading_title }}"> <img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></a></div>
									{% endfor %}
									<div class="show-image-additionals" onclick="$('.more-image-additionals').toggleClass('active');$(this).find('span').toggle();">
										<div><span>+{{ images_other_total }}</span><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div>
									</div>
								{% endif %}
							</div>
						</div>
					{% endif %}
				</div>
			{% endif %}
			{% if (description and show_description and description_position == 1) %}
				<div id="{{ _code }}-category-description">{{ description }}</div>
				<br/>
			{% endif %}
			{% if (categories and show_subcategories) %}
				<h3>{{ text_refine }}</h3>
				{% if categories|length <= 5 %}
					<div class="row">
						{% for category in categories %}
							<div class="product-grid col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<div>
									<a href="{{ category['href'] }}" class="product-thumb transition post-block">
										{% if (show_additional_image_on_category) %}<img src="{{ category['thumb'] }}" title="{{ category['main_image_alt'] }}" alt="{{ category['main_image_alt'] }}" class="img-responsive"/>{% endif %}{{ category['name'] }}
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="row">
						{% for categories in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
							<div class="col-sm-3">
								<ul>
									{% for category in categories %}
										<li>
											<a href="{{ category['href'] }}">
												{% if (show_additional_image_on_category) %}<img src="{{ category['thumb'] }}" title="{{ category['main_image_alt'] }}" alt="{{ category['main_image_alt'] }}" class="img-responsive"/>{% endif %}{{ category['name'] }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
			{% if (posts) %}
				<div class="row">
					<div class="col-md-7" {% if (not show_disaply_view_on_category) %}style="display:none;"{% endif %}>
						<div class="btn-group">
							<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
							<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
						</div>
					</div>
					{% if (show_sort_on_category) %}
						<div class="col-md-3">
							<div class="input-group">
								<span class="input-group-addon">{{ text_sort }}</span>
								<select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
									{% for sorts in sorts %}
										{% if (sorts['value'] == sort ~ '-' ~ order) %}
											<option value="{{ sorts['href'] }}" selected="selected">{{ sorts['text'] }}</option>
										{% else %}
											<option value="{{ sorts['href'] }}">{{ sorts['text'] }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					{% endif %}
					{% if (show_limit_on_category) %}
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">{{ text_limit }}</span>
								<select id="input-limit" class="form-control" onchange="location = this.value;">
									{% for limits in limits %}
										{% if (limits['value'] == limit) %}
											<option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
									{% else %}
										<option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					{% endif %}
				</div>
				<br/>
				<div class="row">
					{% for post in posts %}
						<div class="product-layout product-list col-xs-12">
							<div class="product-thumb transition {{ _code }}-post-item">
								{% if (show_image_on_category) %}
									{% if (post['show_main_image'] == 1) %}
										<div class="image">
											<a href="{{ post['href'] }}"><img src="{{ post['image'] }}" alt="{{ post['name'] }}" title="{{ post['name'] }}" class="img-responsive"/></a>
										</div>
									{% endif %}{% if (post['video'] and post['show_main_image'] == 2) %}
									<div class="video">
										<div class="video-inner {{ _code }}-youtube" onclick="show_youtube('{{ post['video'] }}', this);" style="background-image:url('https://img.youtube.com/vi/{{ post['video'] }}/0.jpg');">
											<div>
												<i class="fa fa-play"></i>
												<span></span>
												<span></span>
											</div>
										</div>
									</div>
								{% endif %}
								{% endif %}
								<div class="caption">
									<a class="{{ _code }}-post-heading" href="{{ post['href'] }}">{{ post['name'] }}</a>
									{% if (post['author'] and show_author_on_category) %}
										<b>{{ post['author'] }}</b> - {% endif %}{% if (show_date_added_on_category) %}{{ post['date_added'] }}<br/>{% endif %}
									{% if (show_description_on_category and post['short_description']) %}
										<div class="description">{{ post['short_description'] }}</div>
									{% endif %}
									{% if (show_count_comments_on_category) %}
										<i class="fa fa-comment-o" aria-hidden="true"></i> {{ post['comments'] }}&nbsp;&nbsp;
									{% endif %}
									{% if (show_count_viewed_on_category) %}
										<i class="fa fa-eye" aria-hidden="true"></i> {{ post['viewed'] }}<br/>
									{% endif %}
									{% if (show_read_more_button_on_category) %}
										<a href="{{ post['href'] }}">{{ text_button_readmore }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="row">
					{% if (show_pagination_results_on_category) %}
						<div class="col-sm-6 text-left">{{ pagination }}</div>
						<div class="col-sm-6 text-right">{{ results }}</div>
					{% else %}
						<div class="col-sm-12 text-left">{{ pagination }}</div>
					{% endif %}
				</div>
			{% endif %}
			{% if (description and show_description and description_position == 2) %}
				<br/>
				<div id="{{ _code }}-category-description">{{ description }}</div>
			{% endif %}
			{% if (not categories and not posts) %}<p>{{ text_empty_category }}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			{% endif %}
			{{ content_bottom }}
		</div>
		{{ column_right }}</div>
</div>
{% if ((thumb and show_main_image) or (images and show_additional_image)) %}
<script>
$(document).ready(function() {
	$('.images-block').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled:true
		}
	});
});
</script>
{% endif %} 
{% if (allow_schema_on_post) %}i
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "BreadcrumbList",
	  "itemListElement": [
	  {% set b_i = 1 %}
	  {% for breadcrumb in breadcrumbs %}
	    {
	      "@type": "ListItem",
	      "position": {{ b_i }},
	      "name": "{{ breadcrumb['text'] }}",
	      "item": "{{ breadcrumb['href'] }}"
	    }{% if (b_i < (breadcrumbs|length)) %},{% endif %}
	    {% set b_i = b_i + 1 %}
	  {% endfor %}
	  ]
	}
	</script>
	{% if (posts) %}
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "ItemList",
	  "itemListElement": [
	  {% set p_i = 1 %}
	    {% for post in posts %}
	    {
	      "@type":"ListItem",
	      "position": "{{ p_i }}",
	      "url":"{{ post['href'] }}",
	      "name": "{{ post['name'] }}"
	    }{% if (p_i < (posts|length)) %},{% endif %}
	    {% set p_i = p_i + 1 %}
	    {% endfor %}
	  ]
	}
	</script>
	{% endif %}
{% endif %} 
{{ footer }}