{% for comment in comments %}
  <div>
    {% if (comment['thumb']) %}
      <div class="comment-image">
        <div>
          <img src="{{ comment['thumb'] }}"/>
          <button type="button" title="{{ button_respond_to_comment }}" onclick="{{ _code }}_respond('{{ comment['comment_id'] }}', this)"><i class="fa fa-reply" aria-hidden="true"></i></button>
        </div>
      </div>
    {% endif %}
    <div class="comment-inner">
      <div>
        <div class="comment-name">
          {{ comment['firstname'] }}
          <div class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ comment['date_added'] }}</div>
        </div>
        <div class="comment-description">{{ comment['description'] }}</div>
      </div>
      <div class="comment-vote">
        <div><span id="{{ _code }}-vote-down-{{ comment['comment_id'] }}">{{ comment['total_vote_down'] }}</span> / <span id="{{ _code }}-vote-up-{{ comment['comment_id'] }}">{{ comment['total_vote_up'] }}</span></div>
        <div>
          <button type="button" onclick="{{ _code }}_vote('{{ comment['comment_id'] }}', 'down', 'comment', this)"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
          <button type="button" onclick="{{ _code }}_vote('{{ comment['comment_id'] }}', 'up', 'comment', this)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  {% if (comment['responds']) %}
    {% for respond in comment['responds'] %}
      <div class="comment-responds-block">
        {% if (respond['thumb']) %}
          <div class="comment-image">
            <div>
              <img src="{{ respond['thumb'] }}"/>
            </div>
          </div>
        {% endif %}
        <div class="comment-inner">
          <div>
            <div class="comment-name">
              {{ respond['firstname'] }}
              <div class="comment-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ respond['date_added'] }}</div>
            </div>
            <div class="comment-description">{{ respond['description'] }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}