<div class="panel panel-default {{ _code }}-categories-block" id="{{ _code }}-categories-block-{{ module_id }}">
  <!--
  ##==================================================================##
  ## @author    : OCdevWizard                                         ##
  ## @contact   : ocdevwizard@gmail.com                               ##
  ## @support   : http://help.ocdevwizard.com                         ##
  ## @license   : http://license.ocdevwizard.com/Licensing_Policy.pdf ##
  ## @copyright : (c) OCdevWizard. Smart Blog Pro Plus, 2019          ##
  ##==================================================================##
  -->
  <div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i> {{ heading_title }}</div>
  <div class="list-group">
    {% if (results) %}
      {% for result in results %}
        {% if (result['category_id'] == category_id) %}
          <a href="{{ result['href'] }}" class="list-group-item {{ _code }}-list-group-item active">{% if (show_main_image) %}<img src="{{ result['image'] }}" class="img-responsive"/>{% endif %}{{ result['name'] }}</a>
          {% if (result['children']) %}
            {% for child_2lv in result['children'] %}
              {% if (child_2lv['category_id'] == child_id) %}
                <a href="{{ child_2lv['href'] }}" class="list-group-item {{ _code }}-list-group-item active">&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_2lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_2lv['name'] }}</a>
                {% if (child_2lv['children']) %}
                  {% for child_3lv in child_2lv['children'] %}
                    {% if (child_3lv['category_id'] == child_2lv_id) %}
                      <a href="{{ child_3lv['href'] }}" class="list-group-item {{ _code }}-list-group-item active">&nbsp;&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_3lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_3lv['name'] }}</a>
                      {% if (child_3lv['children']) %}
                        {% for child_4lv in child_3lv['children'] %}
                          {% if (child_4lv['category_id'] == child_3lv_id) %}
                            <a href="{{ child_4lv['href'] }}" class="list-group-item {{ _code }}-list-group-item active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_4lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_4lv['name'] }}</a>
                            {% if (child_4lv['children']) %}
                              {% for child_5lv in child_4lv['children'] %}
                                {% if (child_5lv['category_id'] == child_4lv_id) %}
                                  <a href="{{ child_5lv['href'] }}" class="list-group-item {{ _code }}-list-group-item active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_5lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_5lv['name'] }}</a>
                                {% else %}
                                  <a href="{{ child_5lv['href'] }}" class="list-group-item {{ _code }}-list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_5lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_5lv['name'] }}</a>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% else %}
                            <a href="{{ child_4lv['href'] }}" class="list-group-item {{ _code }}-list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_4lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_4lv['name'] }}</a>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% else %}
                      <a href="{{ child_3lv['href'] }}" class="list-group-item {{ _code }}-list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_3lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_3lv['name'] }}</a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                <a href="{{ child_2lv['href'] }}" class="list-group-item {{ _code }}-list-group-item">&nbsp;&nbsp;&nbsp;- {% if (show_main_image) %}<img src="{{ child_2lv['image'] }}" class="img-responsive"/>{% endif %}{{ child_2lv['name'] }}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          <a href="{{ result['href'] }}" class="list-group-item {{ _code }}-list-group-item">{% if (show_main_image) %}<img src="{{ result['image'] }}" class="img-responsive"/>{% endif %}{{ result['name'] }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
<script>
  $('#{{ _code }}-categories-block-{{ module_id }} .list-group .{{ _code }}-list-group-item.active').last().addClass('current-item');
</script>