<div class="{{ _code }}-posts-block" id="{{ _code }}-posts-block-{{ module_id }}">
  <!--
  ##==================================================================##
  ## @author    : OCdevWizard                                         ##
  ## @contact   : ocdevwizard@gmail.com                               ##
  ## @support   : http://help.ocdevwizard.com                         ##
  ## @license   : http://license.ocdevwizard.com/Licensing_Policy.pdf ##
  ## @copyright : (c) OCdevWizard. Smart Blog Pro Plus, 2019          ##
  ##==================================================================##
  -->
  {% if (display_type_inner == 1) %}
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ heading_title }}</div>
      <div class="list-group">
        {% if (results) %}
          {% for result in results %}
            <div class="list-group-item {{ _code }}-list-group-item">
              {% if (show_main_image) %}
                {% if (result['show_main_image'] == 1) %}
                  <div class="image">
                    <a href="{{ result['href'] }}"><img src="{{ result['image'] }}" alt="{{ result['name'] }}" title="{{ result['name'] }}" class="img-responsive"/></a>
                  </div>
                {% endif %}
                {% if (result['video'] and result['show_main_image'] == 2) %}
                  <div class="video">
                    <div class="video-inner {{ _code }}-youtube" onclick="show_youtube('{{ result['video'] }}', this);" style="background-image:url('https://img.youtube.com/vi/{{ result['video'] }}/0.jpg');">
                      <div>
                        <i class="fa fa-play"></i>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
              <a class="{{ _code }}-post-heading" href="{{ result['href'] }}">{{ result['name'] }}</a>
              {% if (result['author'] and show_author) %}
                <b>{{ result['author'] }}</b> - {% endif %}{% if (show_date_added) %}{{ result['date_added'] }}<br/>{% endif %}
              {% if (show_description and result['short_description']) %}
                {{ result['short_description'] }}<br/>
              {% endif %}
              {% if (show_count_comments) %}
                <i class="fa fa-comment-o" aria-hidden="true"></i> {{ result['comments'] }}&nbsp;&nbsp;
              {% endif %}
              {% if (show_count_viewed) %}
                <i class="fa fa-eye" aria-hidden="true"></i> {{ result['viewed'] }}<br/>
              {% endif %}
              {% if (show_read_more_button) %}
                <a href="{{ result['href'] }}">{{ text_button_readmore }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% elseif (display_type_inner == 2) %}
    {% if (results) %}
      <h3 class="{{ _code }}-h3"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ heading_title }}</h3>
      <div class="owl-carousel owl-theme">
        {% for result in results %}
          <div class="item">
            <div class="product-thumb transition {{ _code }}-post-item">
              {% if (show_main_image) %}
                {% if (result['show_main_image'] == 1) %}
                  <div class="image">
                    <a href="{{ result['href'] }}"><img src="{{ result['image'] }}" alt="{{ result['name'] }}" title="{{ result['name'] }}" class="img-responsive"/></a>
                  </div>
                {% endif %}
                {% if (result['video'] and result['show_main_image'] == 2) %}
                  <div class="video">
                    <div class="video-inner {{ _code }}-youtube" onclick="show_youtube('{{ result['video'] }}', this);" style="background-image:url('https://img.youtube.com/vi/{{ result['video'] }}/0.jpg');">
                      <div>
                        <i class="fa fa-play"></i>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
              <div class="caption">
                <a class="{{ _code }}-post-heading" href="{{ result['href'] }}">{{ result['name'] }}</a>
                {% if (result['author'] and show_author) %}
                  <b>{{ result['author'] }}</b> - {% endif %}{% if (show_date_added) %}{{ result['date_added'] }}<br/>{% endif %}
                {% if (show_description and result['short_description']) %}
                  {{ result['short_description'] }}<br/>
                {% endif %}
                {% if (show_count_comments) %}
                  <i class="fa fa-comment-o" aria-hidden="true"></i> {{ result['comments'] }}&nbsp;&nbsp;
                {% endif %}
                {% if (show_count_viewed) %}
                  <i class="fa fa-eye" aria-hidden="true"></i> {{ result['viewed'] }}<br/>
                {% endif %}
                {% if (show_read_more_button) %}
                  <a href="{{ result['href'] }}">{{ text_button_readmore }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <script>
        $(function () {
          $('#{{ _code }}-posts-block-{{ module_id }} .owl-carousel').owlCarousel({
            dots: true,
            items: 1,
            loop: true
          });
        });
      </script>
    {% endif %}
  {% elseif (display_type_inner == 3) %}
    {% if (results) %}
      <h3 class="{{ _code }}-h3"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ heading_title }}</h3>
      <div class="row product-layout">
        {% for result in results %}
          <div class="col-xl-{{ adaptive_setting_4_bootstrap }} col-lg-{{ adaptive_setting_3_bootstrap }} col-md-{{ adaptive_setting_2_bootstrap }} col-sm-{{ adaptive_setting_1_bootstrap }} col-xs-{{ adaptive_setting_0_bootstrap }}">
            <div class="product-thumb transition {{ _code }}-post-item">
              {% if (show_main_image) %}
                {% if (result['show_main_image'] == 1) %}
                  <div class="image">
                    <a href="{{ result['href'] }}"><img src="{{ result['image'] }}" alt="{{ result['name'] }}" title="{{ result['name'] }}" class="img-responsive"/></a>
                  </div>
                {% endif %}
                {% if (result['video'] and result['show_main_image'] == 2) %}
                  <div class="video">
                    <div class="video-inner {{ _code }}-youtube" onclick="show_youtube('{{ result['video'] }}', this);" style="background-image:url('https://img.youtube.com/vi/{{ result['video'] }}/0.jpg');">
                      <div>
                        <i class="fa fa-play"></i>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
              <div class="caption">
                <a class="{{ _code }}-post-heading" href="{{ result['href'] }}">{{ result['name'] }}</a>
                {% if (result['author'] and show_author) %}
                  <b>{{ result['author'] }}</b> - {% endif %}{% if (show_date_added) %}{{ result['date_added'] }}<br/>{% endif %}
                {% if (show_description and result['short_description']) %}
                  {{ result['short_description'] }}<br/>
                {% endif %}
                {% if (show_count_comments) %}
                  <i class="fa fa-comment-o" aria-hidden="true"></i> {{ result['comments'] }}&nbsp;&nbsp;
                {% endif %}
                {% if (show_count_viewed) %}
                  <i class="fa fa-eye" aria-hidden="true"></i> {{ result['viewed'] }}<br/>
                {% endif %}
                {% if (show_read_more_button) %}
                  <a href="{{ result['href'] }}">{{ text_button_readmore }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% elseif (display_type_inner == 4) %}
    {% if (results) %}
      <h3 class="{{ _code }}-h3"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ heading_title }}</h3>
      <div class="product-layout owl-carousel owl-theme">
        {% for result in results %}
          <div class="item">
            <div class="product-thumb transition {{ _code }}-post-item">
              {% if (show_main_image) %}
                {% if (result['show_main_image'] == 1) %}
                  <div class="image">
                    <a href="{{ result['href'] }}"><img src="{{ result['image'] }}" alt="{{ result['name'] }}" title="{{ result['name'] }}" class="img-responsive"/></a>
                  </div>
                {% endif %}
                {% if (result['video'] and result['show_main_image'] == 2) %}
                  <div class="video">
                    <div class="video-inner {{ _code }}-youtube" onclick="show_youtube('{{ result['video'] }}', this);" style="background-image:url('https://img.youtube.com/vi/{{ result['video'] }}/0.jpg');">
                      <div>
                        <i class="fa fa-play"></i>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
              <div class="caption">
                <a class="{{ _code }}-post-heading" href="{{ result['href'] }}">{{ result['name'] }}</a>
                {% if (result['author'] and show_author) %}
                  <b>{{ result['author'] }}</b> - {% endif %}{% if (show_date_added) %}{{ result['date_added'] }}<br/>{% endif %}
                {% if (show_description and result['short_description']) %}
                  {{ result['short_description'] }}<br/>
                {% endif %}
                {% if (show_count_comments) %}
                  <i class="fa fa-comment-o" aria-hidden="true"></i> {{ result['comments'] }}&nbsp;&nbsp;
                {% endif %}
                {% if (show_count_viewed) %}
                  <i class="fa fa-eye" aria-hidden="true"></i> {{ result['viewed'] }}<br/>
                {% endif %}
                {% if (show_read_more_button) %}
                  <a href="{{ result['href'] }}">{{ text_button_readmore }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <script>
        $(function () {
          $('#{{ _code }}-posts-block-{{ module_id }} .owl-carousel').owlCarousel({
            dots: true,
            loop: false,
            margin: 28,
            responsive: {
              0: {items: {{ adaptive_setting_0 }}},
              576: {items: {{ adaptive_setting_1 }}},
              768: {items: {{ adaptive_setting_2 }}},
              992: {items: {{ adaptive_setting_3 }}},
              1200: {items: {{ adaptive_setting_4 }}}
            }
          });
        });
      </script>
    {% endif %}
  {% endif %}
</div>