<!--
##==================================================================##
## @author    : OCdevWizard                                         ##
## @contact   : ocdevwizard@gmail.com                               ##
## @support   : http://help.ocdevwizard.com                         ##
## @license   : http://license.ocdevwizard.com/Licensing_Policy.pdf ##
## @copyright : (c) OCdevWizard. Smart Blog Pro Plus, 2019          ##
##==================================================================##
-->
<div class="modal-content" id="modal-comment-constructor-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ text_modal_heading }}</h4>
  </div>
  <div class="modal-body">
    <div id="content" class="row" style="padding-bottom: 0;">
      <div class="panel-body" style="padding-top: 0;padding-bottom: 0;">
        <ul class="nav nav-tabs" id="modal-setting-tabs">
          <li class="active dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog"></i> {{ tab_control_panel }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#modal-comments-general-block" data-toggle="tab"><i class="fa fa-cogs"></i> {{ tab_general_setting }}</a></li>
              <li><a href="#modal-comments-basic-block" data-toggle="tab"><i class="fa fa-cogs"></i> {{ tab_basic_setting }}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-language"></i> {{ tab_language_setting }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#modal-comments-language-block" data-toggle="tab"><i class="fa fa-flag-o"></i> {{ tab_basic_language_setting }}</a></li>
            </ul>
          </li>
        </ul>
        <form method="post" enctype="multipart/form-data" id="modal-form" class="form-horizontal">
          <input type="hidden" style="display:none;" name="comment_id" value="{{ comment_id }}" />
          <input type="hidden" style="display:none;" name="respond_id" value="{{ respond_id }}" />
          <div class="tab-content">
            <!-- TAB General block -->
            <div class="tab-pane fade active in" role="tabpanel" id="modal-comments-general-block">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-9">
                  <select name="status" id="input-status" class="form-control">
                    {% if (status) %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-3 control-label">{{ entry_stores }}</label>
                <div class="col-sm-9">
                  {% set row_height = 55 %} {% set row = 0 %} {% for store in all_stores %}
                  {% if (row < 5) %} {% set row_height = row_height*1.26 %} {% endif %} {% set row = row + 1 %}
                  {% endfor %}
                  <div class="well well-sm" style="height: {{ row_height }}px; overflow: auto;">
                    {% for store in all_stores %}
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          name="comment_store[]"
                          value="{{ store['store_id'] }}" {{ stores is not empty and store['store_id'] in stores ? 'checked' : '' }}
                        /> {{ store['name'] }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs" onclick="$(this).parent().parent().find(':checkbox').trigger('click').attr('checked', true);">{{ text_select_all }}</button>
                    <button type="button" class="btn btn-default btn-xs" onclick="$(this).parent().parent().find(':checkbox').attr('checked', false);">{{ text_unselect_all }}</button>
                  </div>
                  <div class="modal-error-block" id="modal-error-comment-store"></div>
                  <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> {{ text_stores_faq }}</div>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-3 control-label">{{ entry_customer_groups }}</label>
                <div class="col-sm-9">
                  {% set row_height = 55 %} {% set row = 0 %} {% for customer_group in all_customer_groups %}
                  {% if (row < 5) %} {% set row_height = row_height*1.26 %} {% endif %} {% set row = row + 1 %}
                  {% endfor %}
                  <div class="well well-sm" style="height: {{ row_height }}px; overflow: auto;">
                    {% for customer_group in all_customer_groups %}
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          name="comment_customer_group[]"
                          value="{{ customer_group['customer_group_id'] }}" {{ customer_groups is not empty and customer_group['customer_group_id'] in customer_groups ? 'checked' : '' }}
                        /> {{ customer_group['name'] }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs" onclick="$(this).parent().parent().find(':checkbox').trigger('click').attr('checked', true);">{{ text_select_all }}</button>
                    <button type="button" class="btn btn-default btn-xs" onclick="$(this).parent().parent().find(':checkbox').attr('checked', false);">{{ text_unselect_all }}</button>
                  </div>
                  <div class="modal-error-block" id="modal-error-comment-customer-group"></div>
                  <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> {{ text_customer_groups_faq }}</div>
                </div>
              </div>
            </div>
            <!-- TAB Basic block -->
            <div class="tab-pane fade" role="tabpanel" id="modal-comments-basic-block">
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ entry_assigned_post }}</label>
                <div class="col-sm-9">
                  <input type="text" name="post" value="{{ post }}" placeholder="{{ placeholder_assigned_post }}" class="form-control" />
                  <input type="hidden" name="post_id" value="{{ post_id }}" />
                  <div class="modal-error-block" id="modal-error-post"></div>
                  <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> {{ text_autocomplete_faq }}</div>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-3 control-label" for="input-firstname">{{ entry_firstname }}</label>
                <div class="col-sm-9">
                  <input value="{{ firstname }}" type="text" name="firstname" placeholder="{{ placeholder_comment_firstname }}" class="form-control" />
                  <div class="modal-error-block" id="modal-error-firstname"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
                <div class="col-sm-9">
                  <input value="{{ email }}" type="text" name="email" placeholder="{{ placeholder_comment_email }}" class="form-control" />
                  <div class="modal-error-block" id="modal-error-email"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ entry_notification_on_respond }}</label>
                <div class="col-sm-9">
                  <div class="btn-group btn-toggle" data-toggle="buttons">
                    <label class="btn {{ notification_on_respond == 1 ? 'active btn-success' : 'btn-default' }}">
                      <input type="radio"
                        name="notification_on_respond"
                        value="1"
                        autocomplete="off"
                        {{ notification_on_respond == 1 ? 'checked="checked"' : '' }}
                      />{{ text_yes }}
                    </label>
                    <label class="btn {{ notification_on_respond == 0 ? 'active btn-success' : 'btn-default' }}">
                      <input type="radio"
                        name="notification_on_respond"
                        value="0"
                        autocomplete="off"
                        {{ notification_on_respond == 0 ? 'checked="checked"' : '' }}
                      />{{ text_no }}
                    </label>
                  </div>
                  <div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> {{ entry_notification_on_respond_faq }}</div>
                </div>
              </div>
            </div>
            <!-- TAB Language block -->
            <div class="tab-pane fade" role="tabpanel" id="modal-comments-language-block">
              <div class="form-group required">
                <label class="col-sm-3 control-label">{{ entry_comment_text }}</label>
                <div class="col-sm-9">
                  {% for language in languages %}
                  <div class="input-group" style="margin-bottom: 5px;">
                    <span class="input-group-addon"><img src="{{ language['image'] }}" title="{{ language['name'] }}" /></span>
                    <textarea name="comment_description[{{ language['language_id'] }}][description]" id="description{{ language['language_id'] }}" class="form-control">{{ comment_description[language['language_id']] is defined ? comment_description[language['language_id']]['description'] : '' }}</textarea>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs" onclick="texteditor_action({id: '#description{{ language['language_id'] }}'});">{{ text_open_texteditor }}</button>
                    <button type="button" class="btn btn-default btn-xs" onclick="texteditor_action({id: '#description{{ language['language_id'] }}', start: false, destroy: true});" style="display: none;">{{ text_save_texteditor }}</button>
                  </div>
                  <div class="modal-error-block" id="modal-error-comment-description-language-description-{{ language['language_id'] }}"></div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" onclick="submit_comment(this, {% if (comment_id) %}'edit'{% else %}'add'{% endif %});">{{ button_submit }}</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" {% if (not comment_id) %}style="display: none;"{% endif %}>{{ button_close }}</button>
  </div>
</div>
<!-- start: code for tab basic setting -->
<script>
$('input[name=\'post\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/ocdevwizard/{{ _name }}/autocomplete_post&{{ token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
          if (item['post_id']) {
            return {
              label: item['name'],
              value: item['post_id']
            }
					} else {
					  return {
              label: '{{ text_none }}',
              value: 0
            }
					}
				}));
			}
		});
	},
	'select': function(item) {
    $('input[name=\'post\']').val(item['label']);
    $('input[name=\'post_id\']').val(item['value']);
  }
});
</script>
<!-- end: code for tab general setting -->
</div>
