<!--
##==================================================================##
## @author    : OCdevWizard                                         ##
## @contact   : ocdevwizard@gmail.com                               ##
## @support   : http://help.ocdevwizard.com                         ##
## @license   : http://license.ocdevwizard.com/Licensing_Policy.pdf ##
## @copyright : (c) OCdevWizard. Smart Blog Pro Plus, 2019          ##
##==================================================================##
-->
{% if (histories) %}
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-trash-o"></i> {{ button_delete_menu }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onclick="delete_all('comment');">{{ button_delete_all }}</a></li>
      <li><a onclick="delete_all_selected('comment');">{{ button_delete_selected }}</a></li>
    </ul>
  </div>
{% endif %}
<button type="button" onclick="$('a[href=#comment-constructor-block]').click();" class="btn btn-primary"><i class="fa fa-refresh"></i> {{ button_update }}</button>
<button type="button" onclick="open_comment();" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_add_comment }}</button>
<div class="special-margin"></div>
<div class="table-responsive">
  <table class="table table-bordered main-table-data">
    <thead>
      <tr>
        <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('#history-comment input[name*=\'selected\']').attr('checked', this.checked);" /></td>
        <td class="text-left" width="15%">{{ column_comment_firstname }}</td>
        <td class="text-left" width="15%">{{ column_comment_email }}</td>
        <td class="text-left" width="15%">{{ column_post_heading }}</td>
        <td class="text-left">{{ column_date_added }}</td>
        <td class="text-left">{{ column_date_modified }}</td>
        <td class="text-left">{{ column_status }}</td>
        <td class="text-center">{{ column_action }}</td>
      </tr>
      <tr>
        <td class="text-center fixed-thead"></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_firstname" value="" class="form-control"/></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_email" value="" class="form-control"/></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_post" value="" class="form-control"/></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_date_added" value="" class="form-control datetime"/></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_date_modified" value="" class="form-control datetime"/></td>
        <td class="text-center fixed-thead input-group-sm">
          <select name="filter_status" class="form-control">
            <option value="*"></option>
            <option value="1">{{ text_enabled }}</option>
            <option value="0">{{ text_disabled }}</option>
          </select>
        </td>
        <td class="text-center fixed-thead">
          <button class="btn btn-default btn-sm" type="button" id="submit-filter-comment-form"><i class="fa fa-search"></i> {{ button_filter }}</button>
          <button class="btn btn-default btn-sm" type="button" id="clear-filter-comment-form"><i class="fa fa-eraser"></i> {{ button_clear_filter }}</button>
        </td>
      </tr>
    </thead>
    <tbody>
    {% if (histories) %}
      {% for history in histories %}
      <tr>
        <td style="text-align: center;"><input type="checkbox" name="selected[]" value="{{ history['comment_id'] }}" /></td>
        <td class="text-left">{{ history['firstname'] }}</td>
        <td class="text-left">{{ history['email'] }}</td>
        <td class="text-left"><a onclick="open_post({id: '{{ history['post_id'] }}'});" style="cursor: pointer;">{{ history['post'] }}</a></td>
        <td class="text-left">{{ history['date_added'] }}</td>
        <td class="text-left">{{ history['date_modified'] }}</td>
        <td class="text-left">{{ history['status'] }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-primary" onclick="open_comment({id: '{{ history['comment_id'] }}'});" data-toggle="tooltip" title="" data-original-title="{{ button_edit }}"><i class="fa fa-pencil"></i></button>
          {% if (history['respond_id']) %}
          <button type="button" class="btn btn-primary button-disabled" data-toggle="tooltip" title="" data-original-title="{{ button_respond_error }}"><i class="fa fa-reply"></i></button>
          {% else %}
          <button type="button" class="btn btn-primary" onclick="respond_comment('{{ history['comment_id'] }}');" data-toggle="tooltip" title="" data-original-title="{{ button_respond }}"><i class="fa fa-reply"></i></button>
          {% endif %}
          <a onclick="confirm('{{ text_are_you_sure }}') ? delete_selected('comment', '{{ history['comment_id'] }}') : false;" data-toggle="tooltip" title="" class="btn btn-warning" data-original-title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a>
          <button type="button" class="btn btn-default" onclick="confirm('{{ text_are_you_sure }}') ? copy_selected('comment', '{{ history['comment_id'] }}') : false;" data-toggle="tooltip" title="" data-original-title="{{ button_copy }}"><i class="fa fa-copy"></i></button>
        </td>
      </tr>
      {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right fixed-pagination-results">{{ results }}</div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<script type="text/javascript">
  $('#history-comment input[name=\'filter_firstname\']').autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?route=extension/ocdevwizard/{{ _name }}/autocomplete_comment&{{ token }}&filter_firstname=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          response($.map(json, function (item) {
            if (item['comment_id']) {
              return {
                value: item['comment_id'],
                label: item['firstname']
              }
            }
          }));
        }
      });
    },
    'select': function (item) {
      $('#history-comment input[name=\'filter_firstname\']').val(item['label']);
    }
  });

  $('#history-comment input[name=\'filter_email\']').autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?route=extension/ocdevwizard/{{ _name }}/autocomplete_comment&{{ token }}&filter_email=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          response($.map(json, function (item) {
            if (item['comment_id']) {
              return {
                value: item['comment_id'],
                label: item['email']
              }
            }
          }));
        }
      });
    },
    'select': function (item) {
      $('#history-comment input[name=\'filter_email\']').val(item['label']);
    }
  });

  $('#history-comment input[name=\'filter_post\']').autocomplete({
    'source': function (request, response) {
      $.ajax({
        url: 'index.php?route=extension/ocdevwizard/{{ _name }}/autocomplete_comment&{{ token }}&filter_post=' + encodeURIComponent(request),
        dataType: 'json',
        success: function (json) {
          response($.map(json, function (item) {
            if (item['post_id']) {
              return {
                value: item['post_id'],
                label: item['name']
              }
            }
          }));
        }
      });
    },
    'select': function (item) {
      $('#history-comment input[name=\'filter_post\']').val(item['label']);
    }
  });

  $(document).on("focus", '#history-comment .datetime', function() {
    $(document).not('.bootstrap-datetimepicker-widget:first').remove();
    
    $('.datetime').datetimepicker({
      format:     'YYYY-MM-DD',
      formatDate: 'YYYY-MM-DD',
    });
  });
</script>