<!--
##==================================================================##
## @author    : OCdevWizard                                         ##
## @contact   : ocdevwizard@gmail.com                               ##
## @support   : http://help.ocdevwizard.com                         ##
## @license   : http://license.ocdevwizard.com/Licensing_Policy.pdf ##
## @copyright : (c) OCdevWizard. Smart Blog Pro Plus, 2019          ##
##==================================================================##
-->
<div class="tile tile-primary">
  <div class="tile-heading">
    {{ heading_title }}
  </div>
  <div class="tile-body"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
		<div class="table-responsive">
			<table class="table smcm-table" style="margin-bottom: 0;">
	    	<tr>
	    		<td>{{ text_total_smart_blog_pro_plus_1 }}</td>
	    		<td class="text-right">{{ total1 }}</td>
	    	</tr>
	    	<tr>
	    		<td>{{ text_total_smart_blog_pro_plus_2 }}</td>
	    		<td class="text-right">{{ total2 }}</td>
	    	</tr>
	    	<tr>
	    		<td>{{ text_total_smart_blog_pro_plus_3 }}</td>
	    		<td class="text-right">{{ total3 }}</td>
	    	</tr>
	    	<tr>
	    		<td>{{ text_total_smart_blog_pro_plus_4 }}</td>
	    		<td class="text-right">{{ total_new }}/{{ total4 }}</td>
	    	</tr>
  		</table>
  	</div>
  </div>
  <div class="tile-footer"><a href="{{ link }}">{{ button_view_more }}</a></div>
</div>